@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Quicksand:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
} */
header.navbar {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-block: 1rem;
  z-index: 999;
}
header.navbar .logo p {
  font-size: 25px;
  font-weight: 600;
}
header.navbar .logo span {
  background-color: #425c77;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
header.navbar .list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
header.navbar .list li {
  list-style-type: none;
}
header.navbar .list li a:hover {
  cursor: pointer;
  background-color: #425c77;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
header.navbar .list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}
header .navbar .list li:hover {
  background-color: #425c77;
  color: white;
}
